// footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }
.content-info {
  padding:40px;
  margin-top:40px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.04em;
  font-size: 1.2em;
  vertical-align: middle;
  @media (max-width: @screen-md) {
    padding:20px;
    margin-top:60px;
    font-size: 0.9em;
  }
  @media (max-width: @screen-sm) {
    padding:20px;
    margin-top:60px;
    font-size: 0.9em;
  }
}
.content-info a {
  color: #555555;
}
.content-info a:hover {
  color: #000000;
}
.content-info img {
  margin-right: 15px;
}