.content-info {
  padding:80px;
  margin-top:80px;
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -.04em;
  @media (max-width: @screen-sm) {
    padding:20px;
    margin-top:60px;
    font-size: 0.9em;
  }
}
.content-info a {
  color: #555555;
}
.content-info a:hover {
  color: #000000;
}